body, h1, button {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.start-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.start-button:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    display: none; 
}

input[type="radio"] + label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
    line-height: 24px;
}

input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px; 
    height: 18px; 
    border: 2px solid #007BFF; 
    border-radius: 50%; 
    transition: border-color 0.3s ease-in-out;
}

label {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

input[type="radio"]:checked + label::before {
    border-color: #007BFF; 
    background-color: #007BFF;
}

label:hover {
    background-color: #555; 
}

button[type="submit"] {
    float: right;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.container {
    margin: 20px;
    padding: 20px;
    background-color: rgb(29, 32, 33);
    box-shadow: #3c3c47 0px 0px 10px;
    border-radius: 20px;
}

.result {
    margin-bottom: 20px;
}

.result-title {
    font-weight: bold;
}

.result-info {
    margin-left: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 40px;
    background-color: #16161a;
    box-shadow: #003063 0px 0px 10px;
    color: #e3eeff;
    padding: 10px 20px;
    margin: 5px;
    cursor:  cell;
    border-radius: 20px;
}

footer a {
    text-decoration: none; 
    color: inherit; 
    cursor:  cell;
}