<!DOCTYPE html>
<html lang="en">
<head>
    <title>MHA DASS42</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Assessment</title>
</head>
<body>
    <h1>Mental Health Assessment</h1>
    <a href="/test" class="start-button">Start Assessment</a>

    <p>
        Decision tree models utilizing DASS 42 online survey data to predict Depression, Anxiety, and Stress levels, using a compact set of 14 or fewer questions for each.
    </p>
    
    <footer>
        <a href="https://www.instagram.com/satz_._/" target="_blank">
        <p>Author: Satz</p>
        </a>
        <a href="https://www.github.com/nonkloq/dummy_mha" target="_blank">
            <p>Source Code</p>
        </a>
    </footer>


</body>
</html>
