<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{ question['question'] }}</h1>
    
    <form method="POST" action="/test">
        <div class="radio-container">
            <input type="radio" name="option" value="0" id="option0" required>
            <label for="option0" class="radio-label">Did not apply to me at all</label><br>

            <input type="radio" name="option" value="1" id="option1" required>
            <label for="option1" class="radio-label">Applied to me to some degree, or some of the time</label><br>

            <input type="radio" name="option" value="2" id="option2" required>
            <label for="option2" class="radio-label">Applied to me to a considerable degree, or a good part of the time</label><br>

            <input type="radio" name="option" value="3" id="option3" required>
            <label for="option3" class="radio-label">Applied to me very much, or most of the time</label><br>
        </div>
        <button type="submit">Next</button>
    </form>
    <script>
        document.querySelector('button[type="submit"]').disabled = true;

        document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                document.querySelector('button[type="submit"]').disabled = false;
            });
        });
    </script>
</body>
</html>
